
# 보통 표준적으로 적용하는 .gitignore
# .gitignore 는 각 IDE 에서 프로젝트가 생성되면 자동으로 생성되는 파일들은 굳이 Git 으로 관리 할 필요 없으므로 Git 체크 대상에서 제외

HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
